html,
body{
  width:100%;
  overflow-x: hidden;
  background-color: rgba(0,0,0,0.97);
  color: rgba(255,255,255,0.9);
  font-family: "Courier New", Courier, monospace;
}

body {
  padding: 5%;
}

a {
  color: #999;
  cursor: pointer;
  transition: color 1s;
}

a:hover {
  color: #f00
}

main {
  padding: 5%;
}

/*
fix for fragment links to focus on the correct element
this is needed because of the fixed navbar
*/
.nav-link::before {
  display: block;
  content: " ";
  margin-top: -170px;
  height: 170px;
  visibility: hidden;
  pointer-events: none;
}

#nave {
  position: fixed;
  top: 0px;
  left: -1px;
  padding: 10px;
  width: 100%;
  text-align: center;
  z-index: 10000;
  background-color: rgba(0,0,0,0.97);
}

#nave ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

#nave ul li {
  display: inline-block;
}

section {
  padding-bottom: 10vh;
}
